<IfModule mod_rewrite.c>

   RewriteEngine On

   # RewriteCond %{REQUEST_FILENAME}  -f [OR]
   # RewriteCond %{REQUEST_FILENAME} !-f
   # RewriteRule ^(.*)$ /public/index.php [L,QSA]

   RewriteCond %{HTTP:Authorization} ^(.*)
   RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

   RewriteRule ^(?!storage|resources|public).*\.(css|js|jpg|png|tiff)$ /public/$0  [L,R=302]

   RewriteCond $1 !^(index\.php|public|assets|robots\.txt)
   RewriteRule ^(.*)$ /public/index.php/$1 [L]
</IfModule>
