<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Formulaire pour générer un JSON</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
	</head>
	<body>
		<div class="container">
			<div style="display: flex; flex-direction: row; column-gap: 2rem">
				<img src="/logo-rmd.png" style="height: 50px"/>
				<h2>Formulaire d'idenification</h2>
			</div>
			<form id="producerForm">
				<fieldset>
					<legend>Informations du Producteur</legend>
					<div class="grid">
						<div>
							<label for="firstname">Prénom :</label>
							<input type="text" id="firstname" name="firstname" required/><br/>
						</div>

						<div>
							<label for="lastname">Nom :</label>
							<input type="text" id="lastname" name="lastname" required/><br/>
						</div>

						<div>
							<label for="middlename">Postnom :</label>
							<input type="text" id="middlename" name="middlename"/><br/>
						</div>
					</div>
					<div class="grid">
						<div>
							<label for="birthdate">Date de Naissance :</label>
							<input type="date" id="birthdate" name="birthdate" required/><br/>
						</div>

						<div>
							<label for="gender">Sexe :</label>
							<select id="gender" name="gender" required>
								<option value="MALE">Masculin</option>
								<option value="FEMALE">Féminin</option>
							</select><br/>
						</div>

						<div>
							<label for="phone">Téléphone :</label>
							<input type="tel" id="phone" name="phone"/><br/>
						</div>
					</div>

					<div class="grid">
						<div>
							<label for="email">Email :</label>
							<input type="email" id="email" name="email"/><br/>
						</div>

						<div>
							<label for="country">Pays :</label>
							<input type="text" id="country" name="country" required/><br/>
						</div>

						<div>
							<label for="province">Province :</label>
							<input type="text" id="province" name="province" required/><br/>
						</div>
					</div>

					<div class="grid">
						<div>
							<label for="city">Ville :</label>
							<input type="text" id="city" name="city" required/><br/>
						</div>

						<div>
							<label for="territory">Territoire :</label>
							<input type="text" id="territory" name="territory" required/><br/>
						</div>

						<div>
							<label for="sector">Secteur :</label>
							<input type="text" id="sector" name="sector" required/><br/>
						</div>
					</div>
					<label for="village">Village :</label>
					<input type="text" id="village" name="village" required/><br/>

					<label for="numberOfChildren">Nombre d'Enfants :</label>
					<input type="number" id="numberOfChildren" name="numberOfChildren" required/><br/>

					<label for="maritalStatus">Statut Matrimonial :</label>
					<select id="maritalStatus" name="maritalStatus" required>
						<option value="MARIED">Marié</option>
						<option value="SINGLE">Célibataire</option>
					</select><br/>

					<label for="handicap">Handicap :</label>
					<input type="text" id="handicap" name="handicap"/><br/>

					<label for="averageMonthIncome">Revenu Mensuel Moyen :</label>
					<input type="number" id="averageMonthIncome" name="averageMonthIncome" required/><br/>
				</fieldset>

				<fieldset>
					<legend>Informations sur les Champs de Production</legend>
					<label for="surface_acres">Surface en Acres :</label>
					<input type="number" id="surface_acres" name="surface_acres" required/><br/>

					<label for="startedAt">Date de Début :</label>
					<input type="date" id="startedAt" name="startedAt" required/><br/>

					<label for="status">Statut :</label>
					<input type="text" id="status" name="status"/><br/>

					<label for="productId">ID du Produit :</label>
					<input type="number" id="productId" name="productId" required/><br/>

					<label for="fieldProvince">Province :</label>
					<input type="text" id="fieldProvince" name="fieldProvince" required/><br/>

					<label for="district">District :</label>
					<input type="text" id="district" name="district" required/><br/>

					<label for="fieldSector">Secteur :</label>
					<input type="text" id="fieldSector" name="fieldSector" required/><br/>

					<label for="fieldVillage">Village :</label>
					<input type="text" id="fieldVillage" name="fieldVillage" required/><br/>

					<label for="lat">Latitude :</label>
					<input type="number" step="any" id="lat" name="lat" required/><br/>

					<label for="lng">Longitude :</label>
					<input type="number" step="any" id="lng" name="lng" required/><br/>

					<label for="productionPhaseTitle">Titre de la Phase de Production :</label>
					<input type="text" id="productionPhaseTitle" name="productionPhaseTitle" required/><br/>

					<label for="seedSource">Source des Semences :</label>
					<input type="text" id="seedSource" name="seedSource" required/><br/>

					<label for="fertilizer">Fertilisant :</label>
					<input type="text" id="fertilizer" name="fertilizer"/><br/>

					<label for="operationnalMode">Mode Opérationnel :</label>
					<input type="text" id="operationnalMode" name="operationnalMode"/><br/>

					<label for="season">Saison :</label>
					<input type="text" id="season" name="season" required/><br/>

					<label for="year">Année :</label>
					<input type="number" id="year" name="year" required/><br/>
				</fieldset>

				<input type="submit" value="Envoyer"/>
			</form>
		</div>
        <script>
      $(document).ready(function () {
        $("#producerForm").on("submit", function (event) {
          event.preventDefault();

          // Récupération des données du formulaire
          const jsonData = {
            producer: {
              firstname: $("#firstname").val(),
              lastname: $("#lastname").val(),
              middlename: $("#middlename").val(),
              birthdate: $("#birthdate").val(),
              gender: $("#gender").val(),
              phone: $("#phone").val() || null,
              email: $("#email").val() || null,
              address: {
                country: $("#country").val(),
                province: $("#province").val(),
                city: $("#city").val(),
                territory: $("#territory").val(),
                sector: $("#sector").val(),
                village: $("#village").val(),
              },
              numberOfChildren: parseInt($("#numberOfChildren").val()),
              maritalStatus: $("#maritalStatus").val(),
              handicap: $("#handicap").val(),
              averageMonthIncome: parseFloat($("#averageMonthIncome").val()),
              corporations: [],
            },
            fields: [
              {
                surface_acres: parseFloat($("#surface_acres").val()),
                startedAt: $("#startedAt").val(),
                status: $("#status").val(),
                productId: parseInt($("#productId").val()),
                address: {
                  province: $("#fieldProvince").val(),
                  district: $("#district").val(),
                  sector: $("#fieldSector").val(),
                  village: $("#fieldVillage").val(),
                  lat: parseFloat($("#lat").val()),
                  lng: parseFloat($("#lng").val()),
                },
                productionPhases: [
                  {
                    title: $("#productionPhaseTitle").val(),
                    seedSource: $("#seedSource").val(),
                    fertilizer: $("#fertilizer").val(),
                    operationnalMode: $("#operationnalMode").val(),
                    season: $("#season").val(),
                    year: parseInt($("#year").val()),
                  },
                ],
              },
            ],
          };

          type: "POST",
            url: "/api/v1/producers",
            data: jsonData,
            success: function(e){
                console.log(e)
            },
            faiure: function (a, b, c){
                console.log(a, b,c)
            }
            dataType: "application-json"

          
        });
      });
    </script>
	</body>
	
</html>
